//Redefining bootstrap variables.

$navbar-dark-color: #666666;
$navbar-dark-hover-color: #219a99;

$input-btn-focus-width: .05rem !default;
$input-btn-focus-color: #4dbd62;
$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1100px,
  xl: 1800px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1040px,
  xl: 1740px
);

@import '~bootstrap/scss/bootstrap';

/* cool color: 219a99, 32c4c4 */

.App {
  text-align: center;
  background-color: #efefef;
}

.Title {
  font-weight: 700;
  padding: 35px;
  font-size: 100px;
  display: inline-block;
  margin: 0;
  z-index: 1;
  color: #fff;
}
.Title2 {
  font-weight: 500;
  font-size: 65px;
  color: #5ad370;
}


.descText {
  font-weight: 400;
  font-size: 1.5em;
}
.footerText {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #5eeb78;
}
.footerLink {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
}
.footerLink:hover {
  color: #5eeb78;
}
a:active, a:visited {
  color: #fff;
}
/* Smaller Titles */
@media only screen and (max-width: 1500px) {
  .Title {
    font-size: 5em;
  }
  .descText {
    font-size: 1.35em;
  }
}

/* Word below icon */
.iconDesc {
  color: #5eeb78;
  font-weight: 300;
  font-size: 2.75em;
  margin-bottom: 0;
}
.iconDesc2 {
  color: #fff;
  font-weight: 300;
  font-size: 2.75em;
  margin-bottom: 0;
}

/* For big divs spanning page length */
.divBlockWithContentPrimary {
  background-color: #6daffe;
  color: #ffffff;
}
.divBlockWithContentSecondary {
  background-color: #6daffe;
  color: #ffffff;
}
.divBlockWithContentTertiary {
  background-color: #eeeeee;
  color: #5eeb78;
}

.centerCard {
  background-color: #fff;
  padding: 100px 50px;
  color: #4dbd62;
  box-shadow: 0 1px 4px #b3b3b3;
  font-size: 0.875rem;
}
.centerCardCompact {
  background-color: #fff;
  padding: 50px 25px;
  color: #4dbd62;
  box-shadow: 0 1px 4px #b3b3b3;
  font-size: 0.875rem;
}

.smButtonText {
  font-weight: 400;
  font-size: 1.6rem;
}
.medButtonText {
  font-weight: 700;
  font-size: 35px;

}

.navbarStyle {
  font-size: 1.1rem;
  font-weight: 400;
}

/* For dynamic content addition ADD BREAKPOINTS */
.contentOverflow {
  height: 400px;
  max-height: 400px;
  overflow: auto;
}

.form-label {
  font-weight: 400;
  font-size: 1.5rem;
  color: #000;
}

/* This is modifying the btn-primary colors */
.btn {
  border-radius: 0;
}
.btn-primary {
  color: #fff !important;
  background-color: #5eeb78 !important;
  border-color: transparent !important;
}
.btn-primary:hover, .open>.dropdown-toggle.btn-primary {
  color: #fff !important;
  background-color: #59da71 !important;
}
/* This is modifying the btn-secondary colors */
.btn-secondary {
  color: #fff !important;
  background-color: #5eeb78 !important;
  border-color: transparent !important;
}
.btn-secondary:hover, .open>.dropdown-toggle.btn-secondary {
  color: #fff !important;
  background-color: #59da71 !important;
}

.btn:active, .btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-control:focus {
  border-color: #5eeb78 !important;
}

.form-label {
  font-weight: 300;
}
