//Redefining bootstrap variables.

$navbar-light-color: #777777;
$navbar-light-hover-color: #4096ff;
$navbar-light-active-color: #4096ff;

// Dropdowns
//$dropdown-link-color

$input-btn-focus-width: 0.05rem !default;
$input-btn-focus-color: #4096ff;
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 775px,
    lg: 1200px,
    xl: 1800px,
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 1040px,
    xl: 1740px,
);

@import "~bootstrap/scss/bootstrap";

/* cool color: 219a99, 32c4c4 */

.App {
    text-align: center;
    background-color: #efefef;
}

.Title {
    font-weight: 500;
    font-size: 5em;
    display: inline-block;
    margin: 0;
    z-index: 1;
    color: #fff;
}
.Title2 {
    font-weight: 500;
    font-size: 65px;
    color: #5ad370;
}
/* Smaller Titles */
@media only screen and (max-width: 930px) {
    .Title {
        font-size: 3.9em;
    }
    .descText {
        font-size: 1.1rem;
    }
    .navbar {
        font-size: 0.875rem;
    }
}
@media only screen and (max-width: 774px) {
    .Title {
        font-size: 5em;
    }
    .descText {
        font-size: 1.25rem;
    }
}
@media only screen and (max-width: 500px) {
    .Title {
        font-size: 3.525em;
    }
    .descText {
        font-size: 1rem;
    }
}
/* Text link */
.textLink {
    font-size: 0.9rem;
    font-weight: 400;
}
.textLinkSmall {
    font-size: 0.85rem;
    font-weight: 300;
}

/* Word below icon */
.iconDesc {
    color: #59e483;
    font-weight: 300;
    font-size: 2.75em;
    margin-bottom: 0;
}
.iconDescSmall {
    color: #6a6a74;
    font-weight: 300;
    font-size: 1.175em;
}
.iconDesc2 {
    font-weight: 300;
    font-size: 2.75em;
    margin-bottom: 0;
}
// Paragraph under each service.
.goodDescParagraph {
    height: 120px;
}
@media only screen and (max-width: 1250px) {
    .goodDescParagraph {
        height: 115px;
        font-size: 0.9rem;
    }
    .iconDesc2 {
        font-size: 2.25em;
    }
}
@media only screen and (max-width: 1199px) {
    .goodDescParagraph {
        font-size: 1rem;
        height: 90px;
    }
    .iconDesc2 {
        font-size: 2.75em;
    }
}
@media only screen and (max-width: 1000px) {
    .goodDescParagraph {
        font-size: 0.9rem;
        height: 95px;
    }
}
@media only screen and (max-width: 810px) {
    .goodDescParagraph {
        font-size: 0.9rem;
        height: 110px;
    }
    .iconDesc2 {
        font-size: 2.25em;
    }
}
@media only screen and (max-width: 774px) {
    .goodDescParagraph {
        font-size: 1rem;
        height: auto;
    }
    .iconDesc2 {
        font-size: 2.75em;
    }
}
@media only screen and (max-width: 774px) {
    .goodDescParagraph {
        font-size: 0.9rem;
    }
    .iconDesc2 {
        font-size: 2.25em;
    }
}

.backTitleImage {
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Colors */
.greenText {
    color: #49db64 !important;
}
.blueText {
    color: #4096ff !important;
}
.blackText {
    color: #333333 !important;
}
.whiteText {
    color: #ffffff !important;
}

.brandName {
    color: #4096ff;
    font-weight: 500;
    font-size: 1.25em;
}

.descText {
    font-weight: 400;
}
.lowWeight {
    font-weight: 400;
}
h6 {
    font-weight: 400;
}
.footerText {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #5eeb78;
}
.alert {
    font-size: 0.9rem;
    font-weight: 400;
}
.footerLink {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #fff;
}
.footerLink:hover {
    color: #5eeb78;
}
a:active,
a:visited {
    color: #fff;
}

/* For big divs spanning page length */
.divBlockWithContentTitle {
    background-color: #6daffe;
    color: #fff;
}
.divBlockWithContentPrimary {
    background-color: #6daffe;
    color: #fff;
}
.divBlockWithContentSecondary {
    background-color: #fff;
    color: #333333;
}
.divBlockWithContentTertiary {
    background-color: #eeeeee;
    color: #000000;
}

.centerCard {
    background-color: #fff;
    padding: 100px 50px;
    color: #333333;
    box-shadow: 0 1px 4px #b3b3b3;
    font-size: 1rem;
}
.centerCardCompact {
    background-color: #fff;
    padding: 50px 25px;
    color: #333333;
    box-shadow: 0 1px 4px #b3b3b3;
    font-size: 1rem;
}

@media only screen and (max-width: 774px) {
    .centerCard {
        padding: 75px 35px;
    }
    h5 {
        font-size: 1rem;
    }
}

.SVGButton {
    width: 135px;
    height: 135px;
    cursor: pointer;
    filter: grayscale(70%);
}
.SVGButton:hover {
    filter: grayscale(25%);
}

.smButtonText {
    font-weight: 500;
    font-size: 1.25rem;
}
.medButtonText {
    font-weight: 700;
    font-size: 35px;
}

.navbarStyle {
    font-size: 1.1em;
    font-weight: 500;
}

/* For dynamic content addition ADD BREAKPOINTS */
.contentOverflow {
    height: 400px;
    max-height: 400px;
    overflow: auto;
}

.form-label {
    font-weight: 400;
    font-size: 1.5rem;
    color: #000;
}

/* This is modifying the btn-primary colors */
.btn {
    border-radius: 0;
}
.btn-primary {
    color: #fff !important;
    background-color: #4096ff !important;
    border-color: transparent !important;
}
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
    color: #fff !important;
    background-color: #2b8aff !important;
}
/* This is modifying the btn-secondary colors */
.btn-secondary {
    color: #fff !important;
    background-color: #4096ff !important;
    border-color: transparent !important;
    box-shadow: 0 1px 4px #4096ff !important;
}
.btn-secondary:hover,
.open > .dropdown-toggle.btn-secondary {
    color: #fff !important;
    background-color: #2b8aff !important;
    box-shadow: 0 1px 4px #4096ff !important;
}

.btn:active,
.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.form-control:focus {
    border-color: #6daffe !important;
}

.form-label {
    font-weight: 300;
}

.dropdown-item {
    color: #777777 !important;
}
