.App {
  text-align: center;
  background-color: #ffb7c5;
}

.Title {
  color: #5a3a3a;
  padding: 50px;
  font-size: 65px;
}

h1 {
  color: #5a3a3a;
}

.bg-custom-button {
  background-color: #1F2833;
  border-color: #45A293;
}